@font-face {
  font-family: 'Cursed Timer'; /* Choisissez un nom pour la police */
  src: url('CursedTimerUlil-Aznm.ttf') format('truetype');
}


body {
    margin: 0;
    background-color: #1B244A;
    /* Active le centrage Flexbox */
    display: flex;
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
    min-height: 100vh; /* Assure que le body prend au moins 100% de la hauteur de la vue (viewport) */ 
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 16px 8px;
    background: #1B244A;
    width: 575px;
    height: 385px;
    angle: 0 deg;
    opacity: 1;


}



h3{
    color: red;
    font-family: Verdana;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    leading-trim: NONE;
    line-height: 35.89px;
    letter-spacing: 0%;
    text-align: center;
    margin: 15px 0 15px;
    
}

.score{
    font-family: Cursed Timer;
    font-weight: 400;
    font-style: Regular;
    font-size: 90px;
    leading-trim: NONE;
    line-height: 126.67px;
    letter-spacing: 0%;
    text-align: center;
    color: #F94F6D;
    width: 155px;
    height: 120px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 5px;
    background: #080001;
    padding: 16px 8px;
    margin: 0 0 25px;

    
    
}

.addscore-btn{
    width: 45px;
    height: 45px;
    angle: 0 deg;
    opacity: 1;
    top: 271px;
    left: 82px;
    border-radius: 5px;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    background: #1B244A;
    font-family: Cursed Timer;



    
}

.button-ctn{
    display: flex;
    justify-content: space-between;
    
}